<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<%= link_to 'âœ', edit_article_path(@article.id) %>
<%= link_to 'ðŸ—‘', article_path(@article), method: :delete %>
<%= link_to 'show all articles', articles_path %>
